body{
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-desktop.svg');
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.logo{
    margin: 50px 70px;
}

.logo img{
    width: 200px;
}

.container{
    display: flex;

}

.image img{
    margin-top: 10px;
    margin-left: 70px;
    width: 650px;
}

.text{
    padding: 30px 70px;
    margin-right: 70px;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

button{
    width: 150px;
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 30px;
    border-style: none;
    color: blueviolet;
    cursor: pointer;
}

.social-links{
    margin-right: 70px;
    float: right;
}

.attribution {
    font-size: 14px; 
    text-align: center; 
    margin-top: 50px;
    }

.attribution a {
    color:pink; 
    text-decoration: none;
    }

@media (max-width: 872px){
    .logo{
        margin: 30px 30px;
    }

    .container{
        display: block;
    }

    .image img{
        margin: 10px 70px;
    }

    .text{
        padding: 30px 100px;
        margin: 0px;
        text-align: center;
    }

    h1{
        font-size: 30px;
    }

    .social-links{
        margin: 0px;
        padding-top: 70px;
        text-align: center;
        float: none;
    }
}

@media (max-width: 400px){
    body{
        background-image: url('images/bg-mobile.svg');
    }

    .logo{
        margin: 30px 30px;
    }

    .logo img{
        width: 150px;
    }

    .image img{
        margin: 10px 30px;
        width: 320px;
    }

    .text{
        padding: 0px 40px;
    }

    h1{
        font-size: 26px;
    }

    .attribution {
        font-size: 13px;
    }
}


